.disabled {
  transition: opacity 0.3s;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.4;
}

.loading-spinner {
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;

  height: 16px;
  width: 16px;
  border: 2px solid #ffffff;
  border-right-color: transparent;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: -8px;
}