::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #D7D7D7;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}