::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #D7D7D7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul {
  padding: 0 8px;
  margin: 0;
  list-style: none;
}
